.navbar{
    width: 100%;
    display: flex;
    padding: 5px 20px;
}

.bg-primary{background-color: #eee;}
.fa-github{    margin-right: 10px;}

.navbar ul li a{    
    padding: 10px;
    display: inline;
    text-decoration: none;}