@import url('https://fonts.googleapis.com/css?family=Roboto');

:root{
  --primary-color:#dc3545;
  --dark-color:#333333;
  --light-color:#f4f4f4;
  --danger-color:#dc3545;
  --success-color:#28a745;
}

*{
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a:hover{color: #666;}
ul{list-style: none;}
img{width: 100%;}

.container{
  /* max-width: 1500px;
  margin: auto; */
  margin: 15px 75px;
  overflow: hidden;
  padding: 0 2rem;
}

.x-large{font-size: 4rem;line-height: 1.2;margin-bottom: 1rem;}
.large{font-size: 3rem;line-height: 1.2;margin-bottom: 1rem;}
.lead{font-size: 1.5rem;margin-bottom: 1rem;}

.text-primary{color: var(--primary-color);}
.text-dark{color: var(--dark-color);}
.text-success{color: var(--success-color);}
.text-danger{color: var(--danger-color);}

.text-center{text-align: center;}
.text-left{text-align: left;}
.text-right{text-align: right;}
.all-center{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card{
  /* display: flex; */
  padding: 1rem;margin-top: 10px;}

.card.user-main-info{border:0;}

.card.grid-2{clear: both;}
.btn.btn-light{background-color: #eee;    
  text-align: center;
    padding: 5px;
  text-decoration: none;
  color: black;}
  a.back.btn.btn-light{width: 170px;float: left;}

  .btn.btn-dark{background-color: rgb(24, 23, 23);    
    text-align: center;
      padding: 5px;
    text-decoration: none;
    color: white;}